<app-navbar-adm></app-navbar-adm>
<main>
  <section class="cadastro">
    <div class="cadastro-container">
      <h2>Lista de Usuários</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome do Usuário</th>
            <th scope="col">CPF</th>
            <th scope="col">Email</th>
            <th scope="col">Senha</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <th scope="row">{{ usuario.key }}</th>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.cpf }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.senha }}</td>
            <td>{{ usuario.dataNascimento }}</td>
            <td>{{ usuario.telefone }}</td>
            <td>
              <button class="btn btn-warning" (click)="editar(usuario)">Editar</button>
              &nbsp;
              <button class="btn btn-danger" (click)="excluir(usuario.key)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="form-edicao" *ngIf="usuarioEditando" class="container mt-4">
        <h2 class="text-center mb-4">Editar Usuário</h2>
        <form (ngSubmit)="atualizarUsuario()" class="bg-light p-4 rounded shadow">
          <div class="form-group">
            <label for="nomeUsuario">Nome</label>
            <input id="nomeUsuario" [(ngModel)]="usuarioEditando.nome" name="nomeUsuario" class="form-control" />
          </div>
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input id="cpf" [(ngModel)]="usuarioEditando.cpf" name="cpf" class="form-control" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" [(ngModel)]="usuarioEditando.email" name="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input id="senha" [(ngModel)]="usuarioEditando.senha" name="senha" class="form-control" />
          </div>
          <div class="form-group">
            <label for="dataNascimento">Data de Nascimento</label>
            <input id="dataNascimento" type="date" [(ngModel)]="usuarioEditando.dataNascimento" name="dataNascimento"
              class="form-control" />
          </div>
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input id="telefone" type="tel" [(ngModel)]="usuarioEditando.telefone" name="telefone"
              class="form-control" />
          </div>
          <button type="submit" class="btn btn-success btn-block">Salvar</button>
        </form>
      </div>
    </div>
  </section>
</main>