main {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
  }
  
  .login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .login-container h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .btn-black {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
  }
  
  .btn-black:hover {
    background-color: #333;
  }
  
  .alternative-action {
    margin-top: 1rem;
    text-align: center;
  }
  
  .alternative-action a {
    color: black;
    text-decoration: none;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .login-container {
      padding: 1.5rem;
    }
  
    .login-container h2 {
      font-size: 1.5rem;
    }
  
    .btn-black {
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .login-container {
      padding: 1rem;
    }
  
    .login-container h2 {
      font-size: 1.25rem;
    }
  
    .btn-black {
      padding: 6px;
    }
  }
  