<main>
    <section class="login">
      <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="senha" name="password" required>
          </div>
          <button type="submit" class="btn btn-black">Login</button>
        </form>
        <div class="alternative-action">
          <a [routerLink]="'/cadastro'">Cadastro</a>
        </div>
      </div>
    </section>
  </main>
  