main{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {    
    width: 300px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.login-container h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.btn-black {
    background-color: black;
    color: white;
    width: 100%;
}
.btn-black:hover {
    background-color: #333;
}
.alternative-action {
    margin-top: 1rem;
    text-align: center;
}
.alternative-action a {
    color: black;
    text-decoration: none;
}
