<main>
  <section class="cadastro">
    <div class="cadastro-container">
      <h2>Lista de Produtos</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Descrição</th>
            <th scope="col" style="width: 20%;">Imagem</th>
            <th scope="col">Valor</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <th scope="row">{{ produto.key }}</th>
            <td>{{ produto.nomeProduto }}</td>
            <td>{{ produto.marca }}</td>
            <td>{{ produto.descricao }}</td>
            <td><img [src]="produto.imagemUrl" width="30%" /></td>
            <td>{{ produto.valor | currency:'BRL' }}</td>
            <td>
              <button class="btn btn-warning" (click)="editar(produto)">Editar</button>
              &nbsp;
              <button class="btn btn-danger" (click)="excluir(produto.key)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="alternative-action">
        <a [routerLink]="''">Voltar</a>
      </div>

      <!-- Formulário de edição -->
      <div *ngIf="produtoEditando">
        <h2>Editar Produto</h2>
        <form (ngSubmit)="atualizarProduto()">
          <div>
            <label for="nomeProduto">Nome</label>
            <input id="nomeProduto" [(ngModel)]="produtoEditando.nomeProduto" name="nomeProduto" />
          </div>
          <div>
            <label for="marca">Marca</label>
            <input id="marca" [(ngModel)]="produtoEditando.marca" name="marca" />
          </div>
          <div>
            <label for="descricao">Descrição</label>
            <input id="descricao" [(ngModel)]="produtoEditando.descricao" name="descricao" />
          </div>
          <div>
            <label for="imagemUrl">URL da Imagem</label>
            <input id="imagemUrl" [(ngModel)]="produtoEditando.imagemUrl" name="imagemUrl" />
          </div>
          <div>
            <label for="valor">Valor</label>
            <input id="valor" type="number" [(ngModel)]="produtoEditando.valor" name="valor" />
          </div>
          <button type="submit" class="btn btn-success">Salvar</button>
        </form>
      </div>
    </div>
  </section>
</main>
