<app-navbar-adm></app-navbar-adm>
<main>
  <section class="cadastro">
    <div class="cadastro-container">
      <h2>Lista de Produtos</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Descrição</th>
            <th scope="col" style="width: 20%;">Imagem</th>
            <th scope="col">Valor</th>
            <th scope="col">Quantidade</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <th scope="row">{{ produto.key }}</th>
            <td>{{ produto.nomeProduto }}</td>
            <td>{{ produto.marca }}</td>
            <td>{{ produto.descricao }}</td>
            <td><img [src]="produto.imagemUrl" width="30%" /></td>
            <td>{{ produto.valor | currency:'BRL' }}</td>
            <td>{{ produto.quantidade}}</td>
            <td>
              <button class="btn btn-warning" (click)="editar(produto)">Editar</button>
              &nbsp;
              <button class="btn btn-danger" (click)="excluir(produto.key)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Formulário de edição -->
      <div *ngIf="produtoEditando" class="container mt-4">
        <h2 class="text-center mb-4">Editar Produto</h2>
        <form (ngSubmit)="atualizarProduto()" class="bg-light p-4 rounded shadow">
          <div class="form-group">
            <label for="nomeProduto">Nome</label>
            <input id="nomeProduto" [(ngModel)]="produtoEditando.nomeProduto" name="nomeProduto" class="form-control" />
          </div>
          <div class="form-group">
            <label for="marca">Marca</label>
            <input id="marca" [(ngModel)]="produtoEditando.marca" name="marca" class="form-control" />
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input id="descricao" [(ngModel)]="produtoEditando.descricao" name="descricao" class="form-control" />
          </div>
          <div class="form-group">
            <label for="imagemUrl">URL da Imagem</label>
            <input id="imagemUrl" [(ngModel)]="produtoEditando.imagemUrl" name="imagemUrl" class="form-control" />
          </div>
          <div class="form-group">
            <label for="valor">Valor</label>
            <input id="valor" type="number" [(ngModel)]="produtoEditando.valor" name="valor" class="form-control" />
          </div>
          <div class="form-group">
            <label for="quantidade">Quantidade</label>
            <input id="quantidade" type="number" [(ngModel)]="produtoEditando.quantidade" name="quantidade"
              class="form-control" />
          </div>
          <button type="submit" class="btn btn-success btn-block">Salvar</button>
        </form>
      </div>
    </div>
  </section>
</main>