/* Estilização para ProdutosComponent */

.cadastro-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

.table img {
  border-radius: 10px;
}

.btn {
  padding: 8px 16px;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.btn-warning {
  background-color: #f0ad4e;
  color: white;
}

.btn-danger {
  background-color: #d9534f;
  color: white;
}

.alternative-action {
  margin-top: 20px;
}

.alternative-action a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.alternative-action a:hover {
  text-decoration: underline;
}

body {
  background: linear-gradient(to bottom, #000000, #ffffff 60%);
}

.container {
  max-width: 600px;
}

h2 {
  color: #333; /* Cinza escuro */
}

.bg-light {
  background-color: #f8f9fa !important; /* Cinza claro */
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group label {
  color: #333; /* Cinza escuro */
}

.form-group input {
  background-color: #fff;
  color: #333; /* Cinza escuro */
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
  .table th, .table td {
    padding: 10px;
    font-size: 14px;
  }

  .btn {
    padding: 6px 12px;
    font-size: 14px;
  }

  .alternative-action {
    margin-top: 15px;
  }

  .alternative-action a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .table th, .table td {
    padding: 8px;
    font-size: 12px;
  }

  .btn {
    padding: 4px 8px;
    font-size: 12px;
  }

  .alternative-action {
    margin-top: 10px;
  }

  .alternative-action a {
    font-size: 12px;
  }
}
