<app-nav-bar></app-nav-bar>
<main>
    <section class="wc-section">
        <div class="wc-data">
            <h2>
                <b>BEM-VINDOS<br />À<br />MAIOR HOOKAH DO BRASIL</b>
            </h2>
        </div>
    </section>
    <section class="info-section">
        <img src="/assets/img/arabic2.jpg" id="imagem1">
        <div class="info-data">
            <h3>
                <u>SOBRE NÓS</u>
            </h3>
            <p>Se existe um paraíso para os apreciadores de tabaco e narguilé no Brasil, é a nossa loja. Com uma seleção
                vasta e cuidadosamente escolhida, oferecemos uma experiência única para os aficionados por esses
                produtos. Desde os tabacos mais refinados até os acessórios mais exclusivos, nossa loja é um destino
                imperdível para quem busca qualidade e variedade. Venha descobrir um mundo de aromas, sabores e
                tradições em nossa loja, onde a paixão pelo tabaco é celebrada em cada detalhe.</p>
        </div>
    </section>
    <app-novidades></app-novidades>

</main>